@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: 15 23 42;
  --background-start: 240 249 255;
  --background-end: 224 242 254;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground));
  background: linear-gradient(
    to bottom right,
    rgb(var(--background-start)),
    rgb(var(--background-end))
  );
}
